body{
    background-color: rgb(14, 19, 53);
    color:white;
}
.jumbotron{
    background-image: url('../images/battleField.png');
    background-repeat: no-repeat;
    background-position:center ;
    height:70vh;
}

/* this button is showing in wrong spot and too big */
.game-start-container .btn{
    margin: auto;
    display: block;
    width:75%;
    background-color: rgba(112, 113, 121, 0.75);
    color:white;
    border-color: white;

}

.game-start-container .btn:hover{

    background-color: rgba(14, 19, 53);

}

.game-start-container .btn:active{

    background-color: rgb(173, 16, 16) !important;
    border-color: white !important;


}
/* a.btn.btn-primary.btn-lg[role="button"]:focus{
    border: none !important;
    outline: none !important;

} */
.pokemon-card{
    background-color: rgb(14, 19, 53);
    text-align: center;
}

.pokemon-card:hover{
    cursor: pointer;
}

.error{
    display: none;
    text-align: center;
}

.loading{
    background-color:green;
}
.loading img{
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.chosen-pokemon{
    width:50%;
    float: left;
    padding-left:20%;
    position: relative;
    top:35%;
}

/* .game-start-container{
    position: relative;
    top:55%;

}
.game-start-container>div{
  height:100px!important;

} */
#player-pokemon{
    
    position: relative;
    top:0%;
    /* background-color:red; */

}
#opponent-pokemon{
    /* background-color:blue; */
    position: relative;
    top:0%;
}

.up{
    position: relative;
    top:-20px;

}

.pokemon-hp{
    text-align: center;
    min-height: 30px;

}

.modal{
    color:black;
}