body{
    background-color: rgb(14, 19, 53);
    color:white;
    font-family:Trebuchet MS, sans-serif;
    font-size: 16pt;
    letter-spacing: .1em;

}
    
.jumbotron{
    background-image: url('../images/battleField.png');
    background-repeat: no-repeat;
    background-position:center ;
    height:70vh;
    
}

/* this button is showing in wrong spot and too big */
.game-start-container .btn{
    margin: auto;
    display: block;
    width:75%;
    background-color: rgba(112, 113, 121, 0.75);
    color:white;
    border-color: white;

}

.game-start-container{
    font-size: 8pt;
}
.chosen-pokemon p{
    font-size: 10pt;
}

.game-start-container .btn:hover{
    background-color: rgba(14, 19, 53);

}

.game-start-container .btn:active{
    background-color: rgb(173, 16, 16) !important;
    border-color: white !important;
 
}

.pokemon-card{
    background-color: rgb(14, 19, 53);
    text-align: center;
}

.pokemon-card:hover{
    cursor: pointer;
}

.error{
    display: none;
    text-align: center;
}

.loading{

}
.loading img{
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.chosen-pokemon{
    /* background-color:black; */
    width:50%;
    float: left;
    /* margin-left:10%; */
    position: relative;
    top:0%;
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 35vh;
    text-align: center;
 
}

.chosen-pokemon p{
text-align: center;
}

/* .game-start-container{
    position: relative;
    top:55%;

}
.game-start-container>div{
  height:100px!important;

} */
#player-pokemon{
    
    position: relative;
    top:0%;
    left:5%
    /* background-color:red; */

}
#opponent-pokemon{
    /* background-color:blue; */
    position: relative;
    top:0%;
    right:5%
}

@keyframes up {
    from {top: 0px;}
    to {top: -20px;}
 }
 @keyframes down {
    from {top: -20px;}
    to {top: 0px;}
 }

/* .up{
    position: relative;
    top:-20px;
} */

.up{
    position: relative;
  animation: up 1s ;
}

.down{
    position: relative;
  animation: down 1s ;
}



.pokemon-hp{
    text-align: center;
    min-height: 30px;

}

.modal{
    color:black;
}